/* COLORS */
:root {
  --green: #00aa44;
  --greenLogo: #00aa95;

  --background: #f9f9f9;

  --grayDark: #707070;
  --gray: #d9d9d9;
  --grayMedium: #e6e6e6;
  --grayLight: #f0f0f0;
}

/* SIZES */
:root {
  --smallS: 8px;
  --small:  16px;
  --smallM: 24px;
  --normal: 32px;
  --largeS: 48px;
  --large:  64px;
  --largeM: 128px;
}

/* DEFAULTS */
:root {
  --borderRadius: var(--small);
}